<div class="d-flex flex-column" style="height: 100%;">

    <MudNavMenu Color="Color.Primary" Bordered="true" Rounded="true" Margin="Margin.Normal" Class="pa-2">

        <MudText Typo="Typo.overline" Color="Color.Secondary" Class="px-4 mt-4 mb-2">Management</MudText>

        <MudNavLink Href="/chat" Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Outlined.Chat">
            <div class="d-flex align-center justify-space-between w-100">
                <MudText>Messages</MudText>
            </div>
        </MudNavLink>

        <MudText Typo="Typo.overline" Color="Color.Secondary" Class="px-4 mt-6 mb-2">Settings</MudText>

        <MudNavLink Href="/user/create" Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Outlined.Badge">
            Create User
        </MudNavLink>
        <MudNavLink Href="/user/change-password" Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Outlined.Password">
            Change Password
        </MudNavLink>

    </MudNavMenu>

</div>
}